@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* -------------------- */
@import url(./styles/mobile/mobile.css);
@import url(./styles/mobile/navMobile.css);
@import url(./styles/mobile/heroSectionMobile.css);
@import url(./styles/mobile/conteudoMobile.css);
/* ---------------------- */
@import url(./styles/desktop/desktop.css);
@import url(./styles/desktop/navDesktop.css);
@import url(./styles/desktop/topoDesktop.css);
@import url(./styles/desktop/heroSectionDesktop.css);
@import url(./styles/desktop/conteudoDesktop.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{
    --azul-escuro:#003249;
    --azul:#007ea7;
    --azul-claro:#80ced7;
    --azul-claro-transparente:rgba(154, 209, 212, 0.76);
    --texto:#fff    ;
    --texto-transparente: rgba(0, 0, 0, 0.50);
    --preto: #000;
    /* ccdbdc */
}
